<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.github.ghostbusters.ghosthouse">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        tools:replace="android:icon,android:theme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.Home"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".newdevice.NewDevice"
            android:label="@string/title_activity_new_device"
            android:parentActivityName=".home.Home"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.ghostbusters.ghosthouse.home.Home"/>
        </activity>
        <activity
            android:name=".loggin.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>